







<!DOCTYPE html>
<html>
<title>Impacto UFG</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="Util/w3.css">

<style>

.header {
  padding: 10px;
  text-align: left;
  text-indent: 100px;
  line-height: 10px;
  background: #0f0052;
  color: white;
  font-size: 20px;
}


.content iframe {
  width: 70%;
  min-height: 500px;
  position: absolute;
  display: block;
  margin-left: 20%;
}

</style>

</head>

<body>

<!-- Header -->
<div class = "header">
    <h1>Impacto UFG</h1>
    <p>Subtitulo</p>
  </div>

<!-- Topbar -->
<div class="w3-bar w3-border w3-card-4 w3-light-gray">
    <a href="#" class="w3-bar-item w3-button w3-bottombar w3-gray w3-hover-red">Home</a>
    <a href="./Pages/Projetos.html" class="w3-bar-item w3-button w3-bottombar w3-hover-red">Projetos</a>
    <a href="./Pages/WordCloud.html" class="w3-bar-item w3-button w3-bottombar w3-hover-red">WordCloud</a>
    <a href="./Pages/Empresas.html" class="w3-bar-item w3-button w3-bottombar w3-hover-red">Empresas</a>
    <a href="#" class="w3-bar-item w3-button w3-bottombar w3-hover-red">Egressos</a>
  </div>



</div>


  <script type="text/javascript" src="Util/SwitchPage.js"></script>


</body>
</html>


