
<!DOCTYPE html>
<html>
<title>Projetos</title>
<head>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./Util/w3.css">
  <link rel="stylesheet" href="./Util/base.css">

  <script type="text/javascript" src="../Model/EgressosData.js"></script>
  <script type="text/javascript" src="../Controller/EgressosController.js"></script>

</head>


<body>


<!-- Header -->
<div class = "header">

  <div class="logo">
  </div>

  <h1>Impacto UFG</h1>
  <p>Subtitulo</p>

</div>

<!-- Topnav -->
<div class="topnav">
<a href="../index.html">Home</a>
<a href="./Projetos.html">Projetos</a>
<a href="./WordCloud.html">WordCloud</a>
<a href="./Empresas.html">Empresas</a>
<a href="#" style="background:gray">Egressos</a>
</div>

<!-- Content -->
<div class="row">
  <div class="side">
  </div>
  <div class="content">
      content
  </div>
  <div class="side">
  </div>
</div>


<!-- Footer -->
<div class="footer">
  Footer
</div>





  <script>

    let Egressos = getEgressos();
    
    console.log(Egressos);
    
    </script>


</body>
</html>


