







<!DOCTYPE html>
<html>
<title>Projetos</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./Util/w3.css">
  <link rel="stylesheet" href="./Util/base.css">

  <script type="text/javascript" src="../Model/ProjectData.js"></script>
  <script type="text/javascript" src="../Model/ProjectFunctions.js"></script>
  <script type="text/javascript" src="../Controller/ProjectController.js"></script>


<style>




</style>

</head>

<body>


<!-- Header -->
<div class = "header">

  <div class="logo">
  </div>

  <h1>Impacto UFG</h1>
  <p>Subtitulo</p>

</div>


<!-- Topnav -->
<div class="topnav">
<a href="../index.html">Home</a>
<a href="#" style="background:gray">Projetos</a>
<a href="./WordCloud.html">WordCloud</a>
<a href="./Empresas.html">Empresas</a>
<a href="./Egressos.html">Egressos</a>
</div>

<!-- Content -->
<div class="row">
  <div class="side">
  </div>
  <div class="content">

    <h1 style="align-self:flex-start">Projetos</h1>

    <div class="box">
      <b>Tipo:</b> 
    <select id="selectBox" onchange="ConstructTable(this)">
      <option value="Ensino">Ensino</option>
      <option value="Extensão">Extensão</option>
      <option value="Pesquisa">Pesquisa</option>
    </select>
    </div>
    
    <div id="container">
        <ul id="list"></ul>
    </div>

  </div>
  <div class="side">
  </div>
</div>


<!-- Footer -->
<div class="footer">
  Footer
</div>


<script>



function addDropdown(){

var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
    } else {
        dropdownContent.style.display = "block";
    }
    });
}
}



/////// Pass to a js node

function ConstructTable(obj){
    let Choice = {};
    var value = obj.value;
    Choice = Select(value);

    let html = '';

    for(var x in Choice) {
        html += `
            <button class="dropdown-btn">${Choice[x].sigla_unidade_projeto} - ${Choice[x].nome_unidade_projeto}
            </button>
            <div class="dropdown-container">`;

            for(var y in Choice[x].Projects){
                html +=`<button class="dropdown-btn">${Choice[x].Projects[y].idProjeto} - ${Choice[x].Projects[y].titulo_projeto}
                </button>
                <div class="dropdown-container">
                    <b>Resumo do Projeto:</b> ${Choice[x].Projects[y].resumo_projeto}</br></br>
                    <b>Coordenador do Projeto:</b> ${Choice[x].Projects[y].coordenacao_projeto}
                </div>`
            }
            html +=`</div>`;

    }

    document.querySelector('#list').innerHTML = html;
    addDropdown();
}


/////////////////////////////



</script>



</body>
</html>


