







<!DOCTYPE html>
<html>
<title>Projetos</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./Util/w3.css">
  <link rel="stylesheet" href="./Util/base.css">

  <script type="text/javascript" src="../Model/ProjectData.js"></script>
  <script type="text/javascript" src="../Model/ProjectFunctions.js"></script>
  <script type="text/javascript" src="../Controller/ProjectController.js"></script>


<style>

.box{
  padding-top: 10px;
  float:right;
}

.list{
  padding-top: 10px;
}

</style>

</head>

<body>


<!-- Header -->
<div class = "header">

  <div class="logo">
  </div>

  <h1>Impacto UFG</h1>
  <p>Subtitulo</p>

</div>


<!-- Topnav -->
<div class="topnav">
<a href="../index.html">Home</a>
<a href="#" style="background:gray">Projetos</a>
<a href="./WordCloud.html">WordCloud</a>
<a href="./Empresas.html">Empresas</a>
<a href="./Egressos.html">Egressos</a>
</div>

<!-- Content -->
<div class="row">
  <div class="side">
  </div>
  <div class="content">

    <h1 style="align-self:flex-start">Projetos de Pesquisa</h1>

    <div class="box">
      Tipo: 
    <select id="selectBox" onchange="ConstructTable(this)">
      <option value="Ensino">Ensino</option>
      <option value="Extensão">Extensão</option>
      <option value="Pesquisa">Pesquisa</option>
    </select>
    </div>

    <div class="list">
     <!------------List Content----------------->
    </div>

  </div>
  <div class="side">
  </div>
</div>


<!-- Footer -->
<div class="footer">
  Footer
</div>


<script>



/////// Pass to a js node

function ConstructTable(obj){
    let Choice = {};
    var value = obj.value;
    Choice = Select(value);

    console.log(Choice);
}



/////////////////////////////

</script>



</body>
</html>


